.home {
  width: 60%;
  margin: 0 auto;

  @media only screen and (max-width: 900px) {
    width: 95%;
  }

  &__icon {
    &--box {
      width: 100%;
      margin: 1rem auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & h2 {
        font-size: 3rem;
        color: $primary-light-color;
      }

      & svg {
        margin: 0 1rem;
        fill: $primary-light-color;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        border: 0.2rem solid transparent;
        padding: 0.5rem;
        border-radius: 0.2rem;
        transition: all 0.3s;

        &:hover {
          border: 0.2rem solid $primary-light-color;
        }
      }
    }
    &__title {
      clip-path: polygon(
        0 0,
        100% 0,
        100% 80%,
        65% 80%,
        50% 100%,
        45% 80%,
        0 80%
      );
      background-color: $secondary-color;
      border: 0.2rem dashed $primary-light-color;
      box-shadow: 0 1rem 2rem $primary-color;
      padding: 1.5rem 2rem 2rem;
      font-size: 1.6rem;
      position: absolute;
      z-index: 999;
      top: -50%;
      left: 48%;
      transform: translate(-50%, -60%);
    }
  }
}
