.markdown h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}
.markdown h2 {
  font-size: 2rem;
}
.markdown h3 {
  font-size: 1.5rem;
}
.markdown h4 {
  font-size: 1.2rem;
}
.markdown p {
  font-size: 1.3rem;
  line-height: 3rem;
}

.markdown ul {
  margin-left: 1.5rem;
  list-style: inside;
}
.markdown li {
  font-size: 1.3rem;
  line-height: 3rem;
}
.markdown a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-dark-color);
  transition: all 0.3s;
}
.markdown a:hover {
  color: var(--primary-light-color);
}
