.figure {
  height: 15rem;
  width: 15rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button {
  padding: 1rem 4rem;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  background: var(--primary-color);
  color: #ffffff;
  transition: all 0.3s;
  margin-top: 0.7rem;
}

.button:hover {
  background: var(--primary-light-color);
}
