.figure {
  height: 7rem;
  width: 10rem;
  margin-bottom: 2rem;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button {
  width: 17.8rem;
  height: 5.6rem;
  font-size: 1.4rem;
  background: var(--primary-color);
  color: #ffffff;
  transition: all 0.3s;
  margin-top: 1rem;
}

.button:hover {
  background: var(--primary-light-color);
}
