.services {
  width: 100%;
  padding: 3rem 6rem 5rem;
  display: flex;
  flex-direction: column;
  margin: 4rem auto 3rem;
}
.div {
  margin: 0 auto 4rem;
}

.h1 {
  text-align: center;
  font-weight: 600;
  font-size: 3.2rem;
  color: #225ad6;
  margin: 4rem 0;
}

.h1::after {
  display: block;
  content: "";
  background-color: #2929292c;
  margin: 0.8rem auto 0;
  height: 0.05rem;
  width: 50rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
}

.ul {
  margin: 0 auto;
  list-style: none;
  width: 85%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
