.signup {
  width: 40%;
  margin: 2rem auto;
  box-shadow: 0 1px 2px rgba(var(--tertiary-light-color), 0.576);
  padding: 2rem;
  border-radius: 0.6rem;
}

.h1 {
  font-weight: 600;
  font-size: 3rem;
  font-family: var(--default-header-family);
  background: linear-gradient(
    135deg,
    hsla(240, 100%, 60%, 1) 0%,
    hsla(240, 76%, 60%, 1) 10%,
    hsl(240, 100%, 70%) 24%,
    hsl(240, 88%, 65%) 45%,
    hsl(240, 88%, 65%) 75%,
    hsl(240, 100%, 53%) 100%
  );
  color: transparent;
  background-clip: text;
  text-align: center;
  letter-spacing: 0.2rem;
}
.h1::after {
  content: " ";
  display: block;
  width: 6rem;
  height: 5px;
  background-color: var(--primary-dark-color);
  margin: 1rem auto 5rem auto;
}

.p {
  font-size: 2rem;
  color: var(--primary-color);
  margin-top: 2.5rem;
  text-align: left;
  width: 100%;
}
.a:link,
.a:visited {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--primary-light-color);
  font-weight: 400;
}

.a:hover,
.a:active {
  color: var(--primary-dark-color);
}
.icons {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.icons svg {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  transition: all.4s;
}

.icons svg:hover {
  transform: translateY(-0.4rem);
}

.icons svg:active {
  transform: translateY(-0.2rem);
}
@media only screen and (max-width: 900px) {
  .signup {
    width: 70%;
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 650px) {
  .signup {
    width: 90%;
    padding: 1rem;
    border-radius: 0;
  }
}
